<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Tooplate</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="../css/firsst.css">
    <link rel="stylesheet" href="../css/second.css">
    <link rel="stylesheet"  href="../css/tooplate.css">
</head>

<body id="home">
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <header class="mb-5">
                <h3 class="mt-0 white-text"><%= title %></h3>
                <p class="grey-text mb-4">a little pretty girl</p>
                <p class="grey-text">a lovely girl
                </p>
            </header>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <form action="" method="post" class="tm-signup-form">
                <div class="input-field">
                    <input placeholder="姓名：<%= title %>" id="username" name="username" type="text" class="validate">
                </div>
                <div class="input-field">
                    <input placeholder="性别：女" id="password" name="password" type="text" class="validate">
                </div>
                <div class="input-field">
                    <input placeholder="爱好：敲代码" id="password2" name="password2" type="text" class="validate">
                </div>
                <div class="input-field">
                    <input placeholder="喜欢的电影：科幻片" id="email" name="email" type="text" class="validate">
                </div>
                <div class="input-field">
                    <input placeholder="联系方式：10086" id="phone" name="phone" type="text" class="validate">
                </div>
                <!-- <div class="text-right mt-4">
                     <button type="submit" class="waves-effect btn-large btn-large-white px-4 tm-border-radius-0">Sign Up</button>
                 </div>-->
            </form>
        </div>
    </div>
    <!-- <footer class="row tm-mt-big mb-3">
         <div class="col-xl-12">
             <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                 Copyright &copy; 2018 Company Name

                 - Design:  Tooplate / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
         </div>
     </footer>-->
</div>

<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/materialize.min.js"></script>
<!-- <script>
     $(document).ready(function () {
         $('select').formSelect();
     });
 </script>-->
</body>

</html>